* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #242121;
    overflow: hidden;
}

header {
    margin: 3rem 2rem;
    text-align: center;
    color: #eee;
}

header h1 {
    font-size: 2rem;
    font-weight: 900;
}

#container3D canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.selectionMenu {
    position: absolute;
    z-index: 100;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 1rem;
    background-color: gray;
    width: min(60%, 450px);

    display: flex;
    gap: .25rem;
    flex-direction: column;
}

/* .selectionMenu *{
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
} */